:root {
    --section-overlay: rgba(0, 0, 0, 0.7);
    --background-overlay: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--background-overlay);
}

.container {
    max-width: 800px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

/* Top */

.section {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    color: white;
}

.section__inputs,
.section__temprature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-overlay);
}

.section__inputs>input {
    width: 60%;
    text-transform: capitalize;
    border: 0.5px solid white;
    border-radius: 0.4rem;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 200;
}

.section__inputs>input:focus {
    outline: none;
}

.section__inputs>button {
    padding: 10px 30px;
    border: none;
    border-radius: 0.4rem;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
}

.section__inputs>button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon>h3 {
    font-size: 15px;
    font-weight: 200;
    text-transform: capitalize;
}

.temprature>h1 {
    font-size: 60px;
}

@media screen and (max-width: 480px) {
    .section__inputs>input {
        text-transform: capitalize;
        width: 75%;
        border: 0.8px solid white;
        border-radius: 0.4rem;
        background-color: transparent;
        color: white;
        padding: 0.5rem;
        font-size: 10px;
        font-weight: 200;
    }

    .section__inputs>input:focus {
        outline: none;
    }

    .section__inputs>button {
        padding: 6px 15px;
        border: none;
        border-radius: 0.4rem;
        font-size: 15px;
        font-weight: 600;
        background-color: white;
    }

    .icon>h3 {
        font-size: 10px;
        font-weight: 200;
        text-transform: capitalize;
    }
    
    .temprature>h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .section__inputs>input {
        text-transform: capitalize;
        width: 75%;
        border: 0.8px solid white;
        border-radius: 0.4rem;
        background-color: transparent;
        color: white;
        padding: 0.5rem;
        font-size: 10px;
        font-weight: 200;
    }

    .section__inputs>input:focus {
        outline: none;
    }

    .section__inputs>button {
        padding: 6px 15px;
        border: none;
        border-radius: 0.4rem;
        font-size: 15px;
        font-weight: 600;
        background-color: white;
    }

    .icon>h3 {
        font-size: 10px;
        font-weight: 200;
        text-transform: capitalize;
    }
    
    .temprature>h1 {
        font-size: 40px;
    }
}
